# SpacePilot LCD daemon udev rules
# Install to /etc/udev/rules.d/99-spacenavlcdd.rules

# Set hidraw device permissions and start daemon on plug-in
ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="c625", \
    TAG+="systemd", ENV{SYSTEMD_WANTS}="spacenavlcdd.service"

ACTION=="add", SUBSYSTEM=="hidraw", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="c625", \
    MODE="0660", GROUP="input"
