[Unit]
Description=SpacePilot LCD daemon
After=local-fs.target

[Service]
Type=simple
ExecStart=%h/.local/bin/spacenavlcdd
Restart=always
RestartSec=5
# Limit restarts to avoid log spam when device is absent for a long time
StartLimitIntervalSec=0

[Install]
WantedBy=default.target
