[Unit]
Description=SpacePilot LCD daemon
After=local-fs.target

[Service]
Type=simple
ExecStart=/usr/local/bin/spacenavlcdd
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
